@import "variables";

:host {
  display: block;
  background-color: $bg-toolbar;
  min-height: 40px;
  line-height: 40px;
  padding-left: 1rem;
  font-size: 0.8rem;
}

.tool-name {
  font-weight: bold;
  font-size: 1rem;
  padding: 0 1rem;
  border-right: 2px solid $bg-toolbar-active;
}