button {
  border: none;
  cursor: pointer;
  background: $bg-toolbar-active;
  color: $text-body;
  line-height: 1.5rem;
  border-radius: $radius-small;

  &:hover {
    background-color: $bg-toolbar-hover;
    color: $text-hover;
  }

  &.block {
    display: block;  
    width: 100%;
  }

  &.large {
    font-size: 1rem;
    line-height: auto;
    padding: 0.5rem;
  }
}

.button-group {
  display: inline-block;
  margin-left: 1rem;
  button {
    margin-right: 0.5rem;
    &:last-child {
      margin-right: 0;
    }
  }
}

button.danger {
  background-color: $bg-danger;
  &:hover {
    background-color: $bg-danger-hover;
    color: $text-active;
  }
}