label {
  font-weight: bold;
  padding: 0 1rem;
}

.group {
  display: inline-block;
  .suffix {
    padding-left: 0.25rem;
  }
  padding-right: 0.5rem;
}

select, input {
  color: $text-body;
  line-height: 1.5rem;
  padding-left: 0.5rem;
  background-color: $bg-body;
  // border: 1px solid black;
  border: none;
  border-radius: $radius-small;
  box-sizing: border-box;
}

select {
  padding: 0.25rem;
}

input[type=number] {
  width: 70px;
}

.form.vertical {
  label, select, input {
    display: block;
    width: 100%;
  }

  label {
    padding: 0;
  }

  .group {
    display: block;
    margin-top: 1rem;
    padding: 0;
  }
}