@import "variables";

html {
    background: $grey-900;
}

body {
    background: $bg-grad-dark;
    color: $text-mid;
}

::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track {
    background: $scrollbar-track;
}
::-webkit-scrollbar-thumb {
    background: $scrollbar-thumb;
}
::-webkit-scrollbar-thumb:hover {
    background: $scrollbar-thumb-hover;
}
