@import './colors.scss';

$primary: $indigo-700-a;

$bg-dark: $grey-900;
$bg-mid: $grey-800;
$bg-light: $grey-700;

$bg-mid-hover: $grey-800;
$bg-mid-selected: lighten($grey-800, 7%);

$bg-grad-dark: radial-gradient(circle at 50% 70px, lighten($grey-900, 2%) 0%, darken($grey-900, 2%) 100%);
$bg-grad-mid: radial-gradient(circle at 50% 70px, darken($grey-800, 7%) 0%, darken($grey-800, 12%) 100%);

$text-dark: $grey-500;
$text-mid: $grey-300;
$text-light: $grey-100;

$font-body: 'Open Sans', sans-serif;

$scrollbar-track: $grey-900;
$scrollbar-thumb: $grey-800;
$scrollbar-thumb-hover: $bg-mid-selected;


$header-height: 48px;

$toolbar-width: 64px;
