$bg-body: #252525;
$bg-header: #1e1e1e;
$bg-toolbar: #181818;
$bg-toolbar-active: #333;
$bg-toolbar-hover: #888;

$text-body: #c7c7c7;
$text-hover: #ddd;
$text-active: #fff;

$font-body: 'Source Sans Pro', sans-serif;
$font-heading: 'Open Sans', sans-serif;

$radius-small: 4px;
$radius-large: 8px;

$bg-danger: #e12e1c;
$bg-danger-hover: #e74c3c;