@import "variables";

$border-radius: $radius-large;

:host {
  display: block;
  position: fixed;
  left: 0;
}

.tool {
  background-color: $bg-toolbar;
  cursor: pointer;

  font-size: 1.5rem;
  text-align: center;
  padding: 0.75rem 1rem 0.75rem 0.75rem;

  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  &:first-child {
    border-radius: 0 $border-radius 0 0;
  }
  &:last-child {
    border-radius: 0 0 $border-radius 0;
    border-bottom: none;
  }
  &:hover {
    background-color: $bg-toolbar-hover !important;
    color: $text-hover;
  }
  &.active {
    background-color: $bg-toolbar-active;
    color: $text-active;
  }
}
