<h2 mat-dialog-header>Tokens</h2>
<mat-dialog-content class="search">
  <input type="search" [(ngModel)]="searchText" placeholder="Search tokens...">
</mat-dialog-content>
<mat-dialog-content class="results">
  <div class="group" *ngFor="let group of filteredTokenGroups; trackBy: groupName">
    <div class="name">{{group.name | titlecase }}</div>
    <div class="tokens">
      <button class="token" *ngFor="let token of group.tokens; trackBy: tokenId" (click)="onTokenClick(token)">
        <img [src]="token.imageUrl" />
        <span class="name">{{token.name}}</span>
      </button>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="buttons">
  <button class="large" mat-dialog-close>Cancel</button>
</mat-dialog-actions>